:root{
    --sandal:#FFC95F;
    --white:#F5F5F5;
    --blue:#001C30;
    --red:#B31312;
    --yellow:#F2BE22;
    --green:#17594A;
    --black:#080202;
    --litegreen:#CBFFA9;
    --brown:#984A59;
    
}
body{
    margin:0;
    font-family:Arial, Helvetica, sans-serif ;
}

.landing
{
 background-image:url('../image/new project.jpg');
 background-size: cover;
 background-position: center;
 height:100vh;
 color:var(--white);
}

header a{
    text-decoration:none;
    color:var(--litegreen);
    min-width: 120px;
}
header{
    display:flex;
    flex-wrap:wrap;
    row-gap:1 em;
    padding:1 em;
}

#logo{
    flex:4;
    font-size:2.30em;
    min-width: 260px;
}


nav{
    flex:3;
    display:flex;
    align-items:center;
}

nav a{
    flex:1;
}

nav a:hover{
    color:var(--yellow);
}

header h2 i,nav a i{
    margin-right:.5em;
}

.maintext{
    display:flex;
    flex-direction:column;
    height:50vh;
    justify-content: center;
    padding:2em;
}

.tagline1{
    color:var(--black);
    font-size:2.3em;
    font-weight:bolder;
}
.tagline2{
    color:var(--black);
font-weight:900;
}

.contactus{
    color:var(--black);
    font-weight:800;
}

.maintext div{
    margin-top:.95em;;
}

.maintext button{
    width:20vw;
    margin-top:2em;
    border-radius:10px;
    padding:.7em;
    background-color:var(--green);
    color:var(--white);
    border:1px solidd var(--green);
}

.menu{
    display:grid;
    grid-tempalate-columns:repeat(auto-fill,minmax(320px,1fr));
    background:linear-gradient(to right,rgb(100,100,100),rgb(53,52,52));
    color:var(--white);
}

#menuheading,#locheading{
    background:linear-gradient(to right,rgb(100,100,100),rgb(53,52,52));
    font-size:2.5em;
    color:var(--red);
    display:flex;
    justify-content: center;
}

.menu th{
    color:var(--sandal);
    font-size:1.8em;
}

table{
    width: 100%;
    padding: 1em;
}

.menu tr{
    display:flex;
    justify-content: center;
    margin-top:.8em
}

.menu td:nth-child(1){
    flex:1;
    justify-self:left;
}

.menu td:nth-child(2){
    justify-self:right ;
}

.maincourse{
    grid-row:span 2;
}

.locations{
    background:linear-gradient(to right,rgb(100,100,100),rgb(53,52,52));
    color:var(--white);
    display:flex;
    flex-wrap:wrap;
}

.locations h2{
    color:var(--sandal);
    margin-bottom: .8em;
}

.locations div{
    flex:1;
    padding:1em;
    min-width:220px;
}

footer{
    background-color:rgb(55,55,55);
    color:var(--white);
    padding:.25em 1em;
}

#Copyright{
    margin-left:20px;
}

.social-menu ul{
    display:flex;
    padding:0;
}
.social-menu ul li{
    list-style:none;
    display:inline-block;
    margin:0 15px;
}

.social-menu ul li .fab{
    font-size:25px;
    line-height:40px;
    transition:.3s;
    color:#000;
}

.social-menu ul li.fab:hover{
    color:#fff;
}


.social-menu ul li a{
    position:relative;
    display:block;
    width:40px;
    height:40px;
    border-radius:50%;
    background-color:var(--white);
    text-align:center;
    transition: .6s;
    box-shadow: 0 5px 4px rgba(0,0,0,.5);
}

.social-menu ul li a:hover{
    transform: translate(0,-10%);
}

.social-menu ul li:nth-child(1) a:hover{
    background-color: #332a6f;
}

.social-menu ul li:nth-child(2) a:hover{
    background-color: #e02291;
}

.social-menu ul li:nth-child(3) a:hover{
    background-color: #8d81cd;
}